<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>polymer</mat-icon>
    </button>
    <span>Productos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a [routerLink]="['login']" routerLinkActive="active" ><mat-icon>login</mat-icon></a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a [routerLink]="['register']" routerLinkActive="active" ><mat-icon>register</mat-icon></a>
    </button>
</mat-toolbar>